.wizard_v .shade-main{
    position: absolute;
    z-index: 2015;
    left:-2%;
    top:-5%;
    height:103%;
    width:104%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0.3;
    background: #000000;
}

.wizard_v_Arabic .shade-main-Arabic{
    position: absolute;
    z-index: 2015;
    right:-2%;
    top:-5%;
    height:103%;
    width:104%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0.3;
    background: #000000;
}

.wizard_v .wizard_v_Arabic{
    width: -webkit-fill-available;
    width: -moz-available;
}

.wizard_v_Arabic{
    width: -webkit-fill-available;
    width: -moz-available;
}
.wizard_v header{
    height:-webkit-max-content;
    height:max-content;
}
.wizard_v_Arabic header{
    height:-webkit-max-content;
    height:max-content;
}
.wizard_v .x_stepLabel{
    display:flex;
    justify-content: center;
}
.wizard_v_Arabic .x_stepLabel_Arabic{
    display:flex;
    justify-content: center;
}
.wizard_v .wizard_v_Arabic .x_stepLabel2{
    display: flex;
    justify-content: space-evenly;
}
.wizard_v_Arabic .x_stepLabel2{
    display: flex;
    justify-content: space-evenly;
}
.wizard_v .y_stepLabel{
    min-width: 250px;
    max-width: 250px;
    display:flex;
    flex-direction: column;
    height:100%;
    /* width: max-content; */
    padding:10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 75vh;
}
.wizard_v_Arabic .y_stepLabel{
    min-width: 250px;
    max-width: 250px;
    display:flex;
    flex-direction: column;
    height:100%;
    /* width: max-content; */
    padding:10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 75vh;
}
.wizard_v .x_eachStep{
    min-width: 125px;
    display: grid;
    width: 20%;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    position: relative;
}
.wizard_v_Arabic .x_eachStep{
    min-width: 125px;
    display: grid;
    width: 20%;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    position: relative;
}
.wizard_v .x_eachStep2{
    display: inline-flex;
}
.wizard_v_Arabic .x_eachStep2{
    display: inline-flex;
}
.wizard_v .y_eachStep{
    /* min-width: 125px; */
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    /* display: flex; */
    position: relative;
}
.wizard_v_Arabic .y_eachStep_Arabic{
    /* min-width: 125px; */
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    /* display: flex; */
    position: relative;
}
.wizard_v .x_stepLabel2 .stepName{
    /* align-self: center; */
    max-width: 10em;
    margin: 5px ;
}
.wizard_v_Arabic .x_stepLabel2 .stepName_Arabic{
    /* align-self: center; */
    max-width: 10em;
    margin: 5px ;
}
.wizard_v .x_stepLabel .stepName{
    position: absolute;
    bottom: -40px;
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
    max-width: 10em;
    height: -webkit-fill-available;
    height: -moz-available;
}
.wizard_v_Arabic .x_stepLabel_Arabic .stepName_Arabic{
    position: absolute;
    bottom: -40px;
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
    max-width: 10em;
    height: -webkit-fill-available;
    height: -moz-available;
}
.wizard_v .x_stepLabel .stepName{
    position: absolute;
    bottom: -40px;
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
    max-width: 10em;
    height: -webkit-fill-available;
    height: -moz-available;
}
.wizard_v_Arabic .x_stepLabel_Arabic .stepName_Arabic{
    position: absolute;
    bottom: -40px;
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
    max-width: 10em;
    height: -webkit-fill-available;
    height: -moz-available;
}
.wizard_v .x_stepLabel .stepName_style3 {    
    -webkit-transform: translate(0,0%);    
            transform: translate(0,0%);
    left:40px;
    top: 8px;
}

.wizard_v_Arabic .x_stepLabel_Arabic .stepName_style3_Arabic{    
    -webkit-transform: translate(0,0%);    
            transform: translate(0,0%);
    right:40px;
    top: 8px;
}

.wizard_v .y_eachStep .stepName{
    margin: 0;
    margin-left: 21px;
    align-self: center;    
    overflow-wrap: anywhere;
    /* max-height:1em; */
}

.wizard_v_Arabic .y_eachStep_Arabic .stepName_Arabic{
    margin: 0;
    margin-right: 21px;
    align-self: center;    
    overflow-wrap: anywhere;
    /* max-height:1em; */
}


.wizard_v .circle{
    height:32px;
    width:32px;
    border-radius:50%;
    border:2px solid #0072C6;
    color:#0072C6;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
    align-items: center;
}

.wizard_v_Arabic .circle{
    height:32px;
    width:32px;
    border-radius:50%;
    border:2px solid #0072C6;
    color:#0072C6;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
    align-items: center;
}

.wizard_v .x_stepLabel .line{
    border-top: 1px solid #C4C4C4;
    width:100%;
    height:1px;
    margin-top:1em;
}

.wizard_v_Arabic .x_stepLabel_Arabic .line{
    border-top: 1px solid #C4C4C4;
    width:100%;
    height:1px;
    margin-top:1em;
}
.wizard_v .y_eachStep .line{
    border-left: 1px solid #C4C4C4;
    height:50px;
    margin-top: 0;
}
.wizard_v_Arabic .y_eachStep_Arabic .line{
    border-right: 1px solid #C4C4C4;
    height:50px;
    margin-top: 0;
}
.wizard_v main{
    min-height:calc(75vh - (60px + 41px + 75px));
    /* max-height:calc(75vh - (60px + 41px + 75px)); */
    width: 100%;
    background: #F8F8F8;  
    border-radius: 0px 0px 2px 2px;
    border-bottom:0 ;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-bottom:10em; */
}
.wizard_v_Arabic main{
    min-height:calc(75vh - (60px + 41px + 75px));
    /* max-height:calc(75vh - (60px + 41px + 75px)); */
    width: 100%;
    background: #F8F8F8;  
    border-radius: 0px 0px 2px 2px;
    border-bottom:0 ;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-bottom:10em; */
}
.wizard_v .y_stepLabel_mobile .circle{
    height:24px;
    width:24px ;
    line-height: 18px;
    margin:0 10px;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .circle{
    height:24px;
    width:24px ;
    line-height: 18px;
    margin:0 10px;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .x_substep_main{
    background: #fff ;
    /* border: 1px solid #C4C4C4; */
    border:none;
    display:flex;
    flex-direction: column;
    font-size: 13px;
    align-items: flex-start;
    padding: 16px 2.5em;
}
.wizard_v .y_stepLabel_mobile .x_substep_main{
    background: #fff ;
    /* border: 1px solid #C4C4C4; */
    border:none;
    display:flex;
    flex-direction: column;
    font-size: 13px;
    align-items: flex-start;
    padding: 16px 2.5em;
}

.wizard_v .y_stepLabel_mobile{
    position: absolute;
    z-index: 2016;
    background: white;
    /* height: -webkit-fill-available; */
    max-height: 100%;
    padding: 0;
    min-width: 90%;
    /* top: 10%; */
    left: 5%;
    height: 80%;
}

.wizard_v_Arabic .y_stepLabel_mobile_Arabic{
    position: absolute;
    z-index: 2016;
    background: white;
    /* height: -webkit-fill-available; */
    max-height: 100%;
    padding: 0;
    min-width: 90%;
    /* top: 10%; */
    right: 5%;
    height: 80%;
}

.wizard_v .y_stepLabel_mobile .y_eachStep .header{
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    border: 1px solid #EFEFEF;
    padding: 14px;
    margin: 0;
}

.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_Arabic .header{
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    border: 1px solid #EFEFEF;
    padding: 14px;
    margin: 0;
}

.wizard_v .y_stepLabel_mobile .y_eachStep {
    display: flex;
    flex-direction: column;
}

.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_Arabic{
    display: flex;
    flex-direction: column;
}
.wizard_v .y_stepLabel_mobile .y_eachStep_1{
    /* border-bottom: 1px solid #DFE1E6; */
    min-height: 49px;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_1{
    /* border-bottom: 1px solid #DFE1E6; */
    min-height: 49px;
}
.wizard_v .y_stepLabel_mobile .y_eachStep .stepName{
    margin: 0;
    /* padding:0 15px; */
    /* margin-left: 21px; */
    align-self: center;    
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height:49px;
    width: 100%;
    position: relative;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_Arabic .stepName_Arabic{
    margin: 0;
    /* padding:0 15px; */
    /* margin-left: 21px; */
    align-self: center;    
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height:49px;
    width: 100%;
    position: relative;
}
.wizard_v .y_stepLabel_mobile .y_eachStep .stepName svg.downArrow,.wizard_v .y_stepLabel_mobile .y_eachStep .stepName svg.upArrow{
    position: absolute;
    right:10px;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_Arabic .stepName_Arabic svg.downArrow,.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_Arabic .stepName_Arabic svg.upArrow{
    position: absolute;
    left:10px;
}
.wizard_v .y_stepLabel_mobile .y_eachStep_1 .stepName{
    min-height:49px;
    width: 100%;
    margin:0;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_1 .stepName_Arabic{
    min-height:49px;
    width: 100%;
    margin:0;
}
.wizard_v .y_stepLabel_mobile .y_eachStep_2 .stepName{
    margin:0 10px;
    /* padding: 2px; */
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_2 .stepName_Arabic {
    margin:0 10px;
    /* padding: 2px; */
}
.wizard_v .y_stepLabel_mobile .y_eachStep_3 {
    border-bottom: 1px solid #DFE1E6;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_3 {
    border-bottom: 1px solid #DFE1E6;
}
.wizard_v .y_stepLabel_mobile .y_eachStep_3 .stepName {
    min-height: 49px;
    display: flex;
    /* justify-content: center; */
    /* padding: 0 15px; */
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_eachStep_3 .stepName_Arabic{
    min-height: 49px;
    display: flex;
    /* justify-content: center; */
    /* padding: 0 15px; */
}
 /* ***************************** SUBSTEP *************************** */
.wizard_v .y_stepLabel_mobile .y_substep {
    display: flex;
    flex-direction: column;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_substep {
    display: flex;
    flex-direction: column;
}

.wizard_v .y_stepLabel_mobile .y_substep>span{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #DFE1E6; */
    min-height: 49px;
}

.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_substep>span{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #DFE1E6; */
    min-height: 49px;
}
.wizard_v .y_stepLabel_mobile .y_substep_1>span{
    padding:0 20px;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_substep_1>span{
    padding:0 20px;
}
.wizard_v .y_stepLabel_mobile .y_substep_3 span{
    min-height: 49px;
    display: flex;
    /* justify-content: center; */
    padding: 0 8px;
    padding: 0 4vw;
    border: 4px solid transparent;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_substep_3 span{
    min-height: 49px;
    display: flex;
    /* justify-content: center; */
    padding: 0 8px;
    padding: 0 4vw;
    border: 4px solid transparent;
}

.wizard_v .y_stepLabel_mobile .y_substep_2 span{
    padding:0 10px;
    margin: 0 ;
}
.wizard_v_Arabic .y_stepLabel_mobile_Arabic .y_substep_2 span{
    padding:0 10px;
    margin: 0 ;
}
.wizard_v .wizard_h_footer{
    height:50px;
    background: #fff;
    border: 1px solid #C4C4C4;
    width: 100%;
    border-top:0;
    z-index: 1;
    box-shadow: 0px -3px 6px #00000015;
    position: relative !important;
    /* display: grid;
    grid-template-columns: 50px 70px auto 40px 40px;
    column-gap: 16px; */
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding:16px;
}
.wizard_v_Arabic .wizard_h_footer{
    height:50px;
    background: #fff;
    border: 1px solid #C4C4C4;
    width: 100%;
    border-top:0;
    position: relative !important;
    z-index: 1;
    box-shadow: 0px -3px 6px #00000015;
    
    /* display: grid;
    grid-template-columns: 50px 70px auto 40px 40px;
    column-gap: 16px; */
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding:16px;
}
.wizard_v_Arabic .wizard_h_footer button{
    margin:0 10px;
    font-size: 14px !important;
    border-radius: 2px !important;
}
.wizard_v .wizard_h_footer button{
    margin:0 10px;
    font-size: 14px !important;
    border-radius: 2px !important;
}
.wizard_v .y_alignment{
    display:flex;
}
.wizard_v_Arabic .y_alignment{
    display:flex;
}
.y_stepLabel .y_substep2{
    display:flex;
    flex-direction: column;
    color:#606060;
    margin:5px 0 0;
    /* width:211px; */
}
.y_stepLabel .y_substep2 span{
    cursor:pointer;
    padding:7.5px 0;    
    font-size: 100;
    overflow-wrap: anywhere;
}
.wizard_v .x_canvas_sup{
    display: grid;
    grid-template-columns: 211px auto ;
    width: 100%;
}
.wizard_v_Arabic .x_canvas_sup{
    display: grid;
    grid-template-columns: 211px auto ;
    width: 100%;
}
.wizard_v .x_substep_main{
background: #F0F0F0 ;
border: 1px solid #C4C4C4;
display:flex;
flex-direction: column;
font-size: 13px;
align-items: flex-start;
padding: 25px 2.5em;
}
.wizard_v_Arabic .x_substep_main{
background: #F0F0F0 ;
border: 1px solid #C4C4C4;
display:flex;
flex-direction: column;
font-size: 13px;
align-items: flex-start;
padding: 25px 2.5em;
}

.wizard_v .y_substep1Main{    
display:flex;
flex-direction: column;
font-size: 13px;
align-items: flex-start;
position: relative;
left:-1.55em;
/* padding:3.5em 0 0; */
}
.wizard_v_Arabic .y_substep1MainArabic{    
    display:flex;
    flex-direction: column;
    font-size: 13px;
    align-items: flex-start;
    position: relative;
    right:-1.55em;
    /* padding:3.5em 0 0; */
}
.wizard_v .y_substep1Main b{
    /* margin-left: 1em; */
}
.wizard_v_Arabic .y_substep1MainArabic b{
    /* margin-right: 1em; */
}
.wizard_v .x_substep_each{
    /* display:grid;
    grid-template-columns: 10px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.wizard_v_Arabic .x_substep_each_Arabic{
    /* display:grid;
    grid-template-columns: 10px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.wizard_v .x_substep_each b{
    position: absolute;
    left: 2em;
    top:-7px;
    overflow-wrap: anywhere;
    width: 145px;
}
.wizard_v_Arabic .x_substep_each_Arabic b{
    position: absolute;
    right: 2em;
    top:-7px;
    overflow-wrap: anywhere;
    width: 145px;
}
.wizard_v .x_substep_each span{
    border: 1px solid #c4c4c4;
    height: 9px;
    width: 9px;
    border-radius:50%;
}
.wizard_v_Arabic .x_substep_each_Arabic span{
    border: 1px solid #c4c4c4;
    height: 9px;
    width: 9px;
    border-radius:50%;
}

.wizard_v .x_substep_each line{
    border-left:1px solid #c4c4c4;
    width: 0px;
    height:3em;
}
.wizard_v_Arabic .x_substep_each_Arabic line{
    border-right:1px solid #c4c4c4;
    width: 0px;
    height:3em;
}

/* .wizard  .label{
    display: flex;
    flex-direction: row;    
    justify-content: center;
} */
/* .wizard .labelSub{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
} */
/* .wizard .labelSub :nth-child(1){
    display:flex;
    width: 100%;
} */
/* .wizard .label label,.wizard .label span{
    margin:0 2em;
    text-align: center;
} */

/* ::-webkit-background-size{
    background-size: cover;
} */

.SECTION_AccordionToggle__7H71C {
  /* color: #F57300; */
  cursor: pointer;
  margin-left: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.SECTION_sectionMain__ikBD6 {
  /* margin: 4px 13px; */
  border: 1px solid transparent;
  position: relative;
  margin: 10px 0;
}
.SECTION_sectionMainInTab__2zBXy {
  margin: 4px 0px;
  border: 1px solid transparent;
  position: relative;
}
.SECTION_section___oGeP {
  min-height: 50px;
  height: 100%;
  padding: 4px 13px !important;
  border: 1px solid transparent;
  /* background-size: cover !important;*/
  background-size: 100% 100% !important;
}
.SECTION_section___oGeP:hover {
  /* border: 1px dashed #d7d7d7; */
}
.SECTION_header__1typ- {
  min-height: 40px;
  /* padding:8px; */
  /* min-width:100%; */
  margin: 0 !important;
  vertical-align: middle;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.SECTION_hide__1Mda6 {
  display: none;
}
.SECTION_headerLeft__2Em7L {
  font-size: 14px;
  display: flex;
  position: relative;
  min-height: 18px;
  left: 10px;
  align-items: center;
  max-width: 70%;
}
.SECTION_header__1typ-:hover .SECTION_hide__1Mda6 {
  display: flex;
  margin-right: 8px;
  align-items: center;
}
.SECTION_heading__1s4YT {
  /* font-family: 'Open Sans', sans-serif;
    font-weight: 600; */
  /* font-size:16px; */
  /* color: #F57300; */
  /* padding-left: 10px; */
  /* margin-left: 12px; */
  /* text-transform: capitalize; */
}

.SECTION_columnLayoutOptions__1UT2g {
  width: auto !important;
}

.SECTION_columnLayoutOptionsCol__1De2M {
  text-align: end;
  position: absolute;
  right: 0;
}
.SECTION_columnLayoutOptionsCol__1De2M > * {
  caret-color: transparent;
}

.SECTION_columnLayoutInsideOptionsCol__24vHL {
  padding-left: 0px !important;
  padding-right: 5px !important;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.SECTION_columnLayoutInsideOptionsCol__24vHL path{
stroke : #808080;
}

.SECTION_columnLayoutInsideOptionsCol__24vHL > span {
  padding: 0;
  cursor: grab !important;
}
.SECTION_optionsPopUp__1NwqY {
  position: absolute;
  width: 129px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 2px;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #6b6b6b;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  right: 3em;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  z-index: 99999;
}

.SECTION_optionsPopUp__1NwqY > span {
  padding: 5px 0;
}
.SECTION_optionsPopUp__1NwqY > span:hover {
  color: #000000;
  /* transform: scale(1.1); */
  /* padding:5px 5px; */
}


/*# sourceMappingURL=Wizard_V.1aee3271.chunk.css.map*/